<!-- <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a routerLink="/movies"><i class="fa-solid fa-arrow-left"></i></a>
      <span class="navbar-brand mb-0 h3">Salaar</span>
    </div>
</nav> -->
<div class="seating-top" style="background-color: #e3f2fd;">
    <div class="movie-title mt-2 ms-2">
        <h4>Salaar</h4>
    </div>
    <div class="seat-and-price">
        <div class="price">
            <span>Cost: <span class="fw-semibold">&#x20B9;</span></span>
        </div>
        <div class="seats">
            <span>Seats: <span class="fw-semibold"></span></span>
        </div>
    </div>
    <div >
        <button class="book-btn">Book</button>
    </div>
</div>
<div class="container-fluid">
    <div class="main">
        <div class="content">
            <div class="balcony">BALCONY : &#x20B9;150</div>
            <div class="grid-container row1">
                <button class="seat" >A1</button>
                <button class="seat" >A2</button>
                <button class="seat" >A3</button>
                <button class="seat" >A4</button>
                <button class="seat" >A5</button>
                <button class="seat" >A6</button>
                <button class="seat" >A7</button>
                <button class="seat" >A8</button>
                <button class="seat" >A9</button>
                <button class="seat" >A10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >A11</button>
                <button class="seat" >A12</button>
                <button class="seat" >A13</button>
                <button class="seat" >A14</button>
                <button class="seat" >A15</button>
                <button class="seat" >A16</button>
                <button class="seat" >A17</button>
                <button class="seat" >A18</button>
                <button class="seat" >A19</button>
                <button class="seat" >A20</button>
            </div>
            <div class="grid-container row2">
                <button class="seat" >B1</button>
                <button class="seat" >B2</button>
                <button class="seat" >B3</button>
                <button class="seat" >B4</button>
                <button class="seat" >B5</button>
                <button class="seat" >B6</button>
                <button class="seat" >B7</button>
                <button class="seat" >B8</button>
                <button class="seat" >B9</button>
                <button class="seat" >B10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >B11</button>
                <button class="seat" >B12</button>
                <button class="seat" >B13</button>
                <button class="seat" >B14</button>
                <button class="seat" >B15</button>
                <button class="seat" >B16</button>
                <button class="seat" >B17</button>
                <button class="seat" >B18</button>
                <button class="seat" >B19</button>
                <button class="seat" >B20</button>
            </div>
            <div class="grid-container row3">
                <button class="seat" >C1</button>
                <button class="seat" >C2</button>
                <button class="seat" >C3</button>
                <button class="seat" >C4</button>
                <button class="seat" >C5</button>
                <button class="seat" >C6</button>
                <button class="seat" >C7</button>
                <button class="seat" >C8</button>
                <button class="seat" >C9</button>
                <button class="seat" >C10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >C11</button>
                <button class="seat" >C12</button>
                <button class="seat" >C13</button>
                <button class="seat" >C14</button>
                <button class="seat" >C15</button>
                <button class="seat" >C16</button>
                <button class="seat" >C17</button>
                <button class="seat" >C18</button>
                <button class="seat" >C19</button>
                <button class="seat" >C20</button>
            </div>
            <div class="grid-container row4">
                <button class="seat" >D1</button>
                <button class="seat" >D2</button>
                <button class="seat" >D3</button>
                <button class="seat" >D4</button>
                <button class="seat" >D5</button>
                <button class="seat" >D6</button>
                <button class="seat" >D7</button>
                <button class="seat" >D8</button>
                <button class="seat" >D9</button>
                <button class="seat" >D10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >D11</button>
                <button class="seat" >D12</button>
                <button class="seat" >D13</button>
                <button class="seat" >D14</button>
                <button class="seat" >D15</button>
                <button class="seat" >D16</button>
                <button class="seat" >D17</button>
                <button class="seat" >D18</button>
                <button class="seat" >D19</button>
                <button class="seat" >D20</button>
            </div>
            <div class="grid-container16 row5">
                <button class="seat" >E1</button>
                <button class="seat" >E2</button>
                <button class="seat" >E3</button>
                <button class="seat" >E4</button>
                <button class="seat" >E5</button>
                <button class="seat" >E6</button>
                <button class="seat" >E7</button>
                <button class="seat" >E8</button>
                <div></div>
                <div></div>
                <button class="seat" >E9</button>
                <button class="seat" >E10</button>
                <button class="seat" >E11</button>
                <button class="seat" >E12</button>
                <button class="seat" >E13</button>
                <button class="seat" >E14</button>
                <button class="seat" >E15</button>
                <button class="seat" >E16</button>
            </div>
            <div class="firstClass">FIRST CLASS : &#x20B9;120</div>
            <div class="grid-container row6">
                <button class="seat" >F1</button>
                <button class="seat" >F2</button>
                <button class="seat" >F3</button>
                <button class="seat" >F4</button>
                <button class="seat" >F5</button>
                <button class="seat" >F6</button>
                <button class="seat" >F7</button>
                <button class="seat" >F8</button>
                <button class="seat" >F9</button>
                <button class="seat" >F10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >F11</button>
                <button class="seat" >F12</button>
                <button class="seat" >F13</button>
                <button class="seat" >F14</button>
                <button class="seat" >F15</button>
                <button class="seat" >F16</button>
                <button class="seat" >F17</button>
                <button class="seat" >F18</button>
                <button class="seat" >F19</button>
                <button class="seat" >F20</button>
            </div>
            <div class="grid-container row7">
                <button class="seat" >G1</button>
                <button class="seat" >G2</button>
                <button class="seat" >G3</button>
                <button class="seat" >G4</button>
                <button class="seat" >G5</button>
                <button class="seat" >G6</button>
                <button class="seat" >G7</button>
                <button class="seat" >G8</button>
                <button class="seat" >G9</button>
                <button class="seat" >G10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >G11</button>
                <button class="seat" >G12</button>
                <button class="seat" >G13</button>
                <button class="seat" >G14</button>
                <button class="seat" >G15</button>
                <button class="seat" >G16</button>
                <button class="seat" >G17</button>
                <button class="seat" >G18</button>
                <button class="seat" >G19</button>
                <button class="seat" >G20</button>
            </div>
            <div class="grid-container row8">
                <button class="seat" >H1</button>
                <button class="seat" >H2</button>
                <button class="seat" >H3</button>
                <button class="seat" >H4</button>
                <button class="seat" >H5</button>
                <button class="seat" >H6</button>
                <button class="seat" >H7</button>
                <button class="seat" >H8</button>
                <button class="seat" >H9</button>
                <button class="seat" >H10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >H11</button>
                <button class="seat" >H12</button>
                <button class="seat" >H13</button>
                <button class="seat" >H14</button>
                <button class="seat" >H15</button>
                <button class="seat" >H16</button>
                <button class="seat" >H17</button>
                <button class="seat" >H18</button>
                <button class="seat" >H19</button>
                <button class="seat" >H20</button>
            </div>
            <div class="grid-container row9">
                <button class="seat" >I1</button>
                <button class="seat" >I2</button>
                <button class="seat" >I3</button>
                <button class="seat" >I4</button>
                <button class="seat" >I5</button>
                <button class="seat" >I6</button>
                <button class="seat" >I7</button>
                <button class="seat" >I8</button>
                <button class="seat" >I9</button>
                <button class="seat" >I10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >I11</button>
                <button class="seat" >I12</button>
                <button class="seat" >I13</button>
                <button class="seat" >I14</button>
                <button class="seat" >I15</button>
                <button class="seat" >I16</button>
                <button class="seat" >I17</button>
                <button class="seat" >I18</button>
                <button class="seat" >I19</button>
                <button class="seat" >I20</button>
            </div>
            <div class="grid-container row10">
                <button class="seat" >J1</button>
                <button class="seat" >J2</button>
                <button class="seat" >J3</button>
                <button class="seat" >J4</button>
                <button class="seat" >J5</button>
                <button class="seat" >J6</button>
                <button class="seat" >J7</button>
                <button class="seat" >J8</button>
                <button class="seat" >J9</button>
                <button class="seat" >J10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >J11</button>
                <button class="seat" >J12</button>
                <button class="seat" >J13</button>
                <button class="seat" >J14</button>
                <button class="seat" >J15</button>
                <button class="seat" >J16</button>
                <button class="seat" >J17</button>
                <button class="seat" >J18</button>
                <button class="seat" >J19</button>
                <button class="seat" >J20</button>
            </div>
            <div class="grid-container row11">
                <button class="seat" >K1</button>
                <button class="seat" >K2</button>
                <button class="seat" >K3</button>
                <button class="seat" >K4</button>
                <button class="seat" >K5</button>
                <button class="seat" >K6</button>
                <button class="seat" >K7</button>
                <button class="seat" >K8</button>
                <button class="seat" >K9</button>
                <button class="seat" >K10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >K11</button>
                <button class="seat" >K12</button>
                <button class="seat" >K13</button>
                <button class="seat" >K14</button>
                <button class="seat" >K15</button>
                <button class="seat" >K16</button>
                <button class="seat" >K17</button>
                <button class="seat" >K18</button>
                <button class="seat" >K19</button>
                <button class="seat" >K20</button>
            </div>
            <div class="gap">
                Space
            </div>
            <div class="grid-container row12">
                <button class="seat" >L1</button>
                <button class="seat" >L2</button>
                <button class="seat" >L3</button>
                <button class="seat" >L4</button>
                <button class="seat" >L5</button>
                <button class="seat" >L6</button>
                <button class="seat" >L7</button>
                <button class="seat" >L8</button>
                <button class="seat" >L9</button>
                <button class="seat" >L10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >L11</button>
                <button class="seat" >L12</button>
                <button class="seat" >L13</button>
                <button class="seat" >L14</button>
                <button class="seat" >L15</button>
                <button class="seat" >L16</button>
                <button class="seat" >L17</button>
                <button class="seat" >L18</button>
                <button class="seat" >L19</button>
                <button class="seat" >L20</button>
            </div>
            <div class="grid-container row13">
                <button class="seat" >M1</button>
                <button class="seat" >M2</button>
                <button class="seat" >M3</button>
                <button class="seat" >M4</button>
                <button class="seat" >M5</button>
                <button class="seat" >M6</button>
                <button class="seat" >M7</button>
                <button class="seat" >M8</button>
                <button class="seat" >M9</button>
                <button class="seat" >M10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >M11</button>
                <button class="seat" >M12</button>
                <button class="seat" >M13</button>
                <button class="seat" >M14</button>
                <button class="seat" >M15</button>
                <button class="seat" >M16</button>
                <button class="seat" >M17</button>
                <button class="seat" >M18</button>
                <button class="seat" >M19</button>
                <button class="seat" >M20</button>
            </div>
            <div class="grid-container row14">
                <button class="seat" >N1</button>
                <button class="seat" >N2</button>
                <button class="seat" >N3</button>
                <button class="seat" >N4</button>
                <button class="seat" >N5</button>
                <button class="seat" >N6</button>
                <button class="seat" >N7</button>
                <button class="seat" >N8</button>
                <button class="seat" >N9</button>
                <button class="seat" >N10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >N11</button>
                <button class="seat" >N12</button>
                <button class="seat" >N13</button>
                <button class="seat" >N14</button>
                <button class="seat" >N15</button>
                <button class="seat" >N16</button>
                <button class="seat" >N17</button>
                <button class="seat" >N18</button>
                <button class="seat" >N19</button>
                <button class="seat" >N20</button>
            </div>
            <div class="grid-container row15">
                <button class="seat" >O1</button>
                <button class="seat" >O2</button>
                <button class="seat" >O3</button>
                <button class="seat" >O4</button>
                <button class="seat" >O5</button>
                <button class="seat" >O6</button>
                <button class="seat" >O7</button>
                <button class="seat" >O8</button>
                <button class="seat" >O9</button>
                <button class="seat" >O10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >O11</button>
                <button class="seat" >O12</button>
                <button class="seat" >O13</button>
                <button class="seat" >O14</button>
                <button class="seat" >O15</button>
                <button class="seat" >O16</button>
                <button class="seat" >O17</button>
                <button class="seat" >O18</button>
                <button class="seat" >O19</button>
                <button class="seat" >O20</button>
            </div>
            <div class="grid-container row16">
                <button class="seat" >P1</button>
                <button class="seat" >P2</button>
                <button class="seat" >P3</button>
                <button class="seat" >P4</button>
                <button class="seat" >P5</button>
                <button class="seat" >P6</button>
                <button class="seat" >P7</button>
                <button class="seat" >P8</button>
                <button class="seat" >P9</button>
                <button class="seat" >P10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >P11</button>
                <button class="seat" >P12</button>
                <button class="seat" >P13</button>
                <button class="seat" >P14</button>
                <button class="seat" >P15</button>
                <button class="seat" >P16</button>
                <button class="seat" >P17</button>
                <button class="seat" >P18</button>
                <button class="seat" >P19</button>
                <button class="seat" >P20</button>
            </div>
            <div class="secondClass">SECOND CLASS : &#x20B9;100</div>
            <div class="grid-container row17">
                <button class="seat" >Q1</button>
                <button class="seat" >Q2</button>
                <button class="seat" >Q3</button>
                <button class="seat" >Q4</button>
                <button class="seat" >Q5</button>
                <button class="seat" >Q6</button>
                <button class="seat" >Q7</button>
                <button class="seat" >Q8</button>
                <button class="seat" >Q9</button>
                <button class="seat" >Q10</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >Q11</button>
                <button class="seat" >Q12</button>
                <button class="seat" >Q13</button>
                <button class="seat" >Q14</button>
                <button class="seat" >Q15</button>
                <button class="seat" >Q16</button>
                <button class="seat" >Q17</button>
                <button class="seat" >Q18</button>
                <button class="seat" >Q19</button>
                <button class="seat" >Q20</button>
            </div>
            <div class="grid-container16 row18">
                <button class="seat" >R1</button>
                <button class="seat" >R2</button>
                <button class="seat" >R3</button>
                <button class="seat" >R4</button>
                <button class="seat" >R5</button>
                <button class="seat" >R6</button>
                <button class="seat" >R7</button>
                <button class="seat" >R8</button>
                <div></div>
                <div></div>
                <button class="seat" >R9</button>
                <button class="seat" >R10</button>
                <button class="seat" >R11</button>
                <button class="seat" >R12</button>
                <button class="seat" >R13</button>
                <button class="seat" >R14</button>
                <button class="seat" >R15</button>
                <button class="seat" >R16</button>
            </div>
            <div class="grid-container16 row19">
                <button class="seat" [ngStyle]="{'background-color':selected}" (click)="select($event)" value="S1">S1</button>
                <button class="seat" >S2</button>
                <button class="seat" >S3</button>
                <button class="seat" >S4</button>
                <button class="seat" >S5</button>
                <button class="seat" >S6</button>
                <button class="seat" >S7</button>
                <button class="seat" >S8</button>
                <div></div>
                <div></div>
                <button class="seat" >S9</button>
                <button class="seat" >S10</button>
                <button class="seat" >S11</button>
                <button class="seat" >S12</button>
                <button class="seat" >S13</button>
                <button class="seat" >S14</button>
                <button class="seat" >S15</button>
                <button class="seat" >S16</button>

            </div>
            <div class="grid-container14 row20">
                <button class="seat" >T1</button>
                <button class="seat" >T2</button>
                <button class="seat" >T3</button>
                <button class="seat" >T4</button>
                <button class="seat" >T5</button>
                <button class="seat" >T6</button>
                <button class="seat" >T7</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >T8</button>
                <button class="seat" >T9</button>
                <button class="seat" >T10</button>
                <button class="seat" >T11</button>
                <button class="seat" >T12</button>
                <button class="seat" >T13</button>
                <button class="seat" >T14</button>
            </div>
            <div class="grid-container14 row21">
                <button class="seat" >U1</button>
                <button class="seat" >U2</button>
                <button class="seat" >U3</button>
                <button class="seat" >U4</button>
                <button class="seat" >U5</button>
                <button class="seat" >U6</button>
                <button class="seat" >U7</button>
                <div class="space"></div>
                <div class="space"></div>
                <button class="seat" >U8</button>
                <button class="seat" >U9</button>
                <button class="seat" >U10</button>
                <button class="seat" >U11</button>
                <button class="seat" >U12</button>
                <button class="seat" >U13</button>
                <button class="seat" >U14</button>
            </div>
        </div>
    </div>
</div>
<div class="screen">
    <!-- <h2>THIS WAY SCREEN</h2> -->
    <div class="display">
        <img src="assets/images/SCREEN.png" alt="Screen">
        <div class="display-mssg">SCREEN THIS WAY</div>
    </div>
    <div class="seat-view">
        <div class="seat-view-icon1">#</div>
        <div class="seat-view-icon-name">AVAILABLE</div>
        <div class="seat-view-icon2">#</div>
        <div class="seat-view-icon-name">BOOKED</div>
        <div class="seat-view-icon3">#</div>
        <div class="seat-view-icon-name">SELECTED</div>
    </div>
</div>

