<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h3">Salaar</span>
    </div>
</nav>
<div class="container-fluid">
    <div class="main">
        <div class="content">
            <div class="balcony">BALCONY : &#x20B9;150</div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row2">
                <div class="seat">B1</div>
                <div class="seat">B2</div>
                <div class="seat">B3</div>
                <div class="seat">B4</div>
                <div class="seat">B5</div>
                <div class="seat">B6</div>
                <div class="seat">B7</div>
                <div class="seat">B8</div>
                <div class="seat">B9</div>
                <div class="seat">B10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">B11</div>
                <div class="seat">B12</div>
                <div class="seat">B13</div>
                <div class="seat">B14</div>
                <div class="seat">B15</div>
                <div class="seat">B16</div>
                <div class="seat">B17</div>
                <div class="seat">B18</div>
                <div class="seat">B19</div>
                <div class="seat">B20</div>
            </div>
            <div class="grid-container row3">
                <div class="seat">C1</div>
                <div class="seat">C2</div>
                <div class="seat">C3</div>
                <div class="seat">C4</div>
                <div class="seat">C5</div>
                <div class="seat">C6</div>
                <div class="seat">C7</div>
                <div class="seat">C8</div>
                <div class="seat">C9</div>
                <div class="seat">C10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">C11</div>
                <div class="seat">C12</div>
                <div class="seat">C13</div>
                <div class="seat">C14</div>
                <div class="seat">C15</div>
                <div class="seat">C16</div>
                <div class="seat">C17</div>
                <div class="seat">C18</div>
                <div class="seat">C19</div>
                <div class="seat">C20</div>
            </div>
            <div class="grid-container row4">
                <div class="seat">D1</div>
                <div class="seat">D2</div>
                <div class="seat">D3</div>
                <div class="seat">D4</div>
                <div class="seat">D5</div>
                <div class="seat">D6</div>
                <div class="seat">D7</div>
                <div class="seat">D8</div>
                <div class="seat">D9</div>
                <div class="seat">D10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">D11</div>
                <div class="seat">D12</div>
                <div class="seat">D13</div>
                <div class="seat">D14</div>
                <div class="seat">D15</div>
                <div class="seat">D16</div>
                <div class="seat">D17</div>
                <div class="seat">D18</div>
                <div class="seat">D19</div>
                <div class="seat">D20</div>
            </div>
            <div class="grid-container row5">
                <div class="seat">E1</div>
                <div class="seat">E2</div>
                <div class="seat">E3</div>
                <div class="seat">E4</div>
                <div class="seat">E5</div>
                <div class="seat">E6</div>
                <div class="seat">E7</div>
                <div class="seat">E8</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">E9</div>
                <div class="seat">E10</div>
                <div class="seat">E11</div>
                <div class="seat">E12</div>
                <div class="seat">E13</div>
                <div class="seat">E14</div>
                <div class="seat">E15</div>
                <div class="seat">E16</div>
            </div>
            <div class="firstClass">FIRST CLASS : &#x20B9;120</div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="gap">
                Space
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="secondClass">SECOND CLASS : &#x20B9;100</div>
        </div>
    </div>
</div>

