<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h3">Salaar</span>
    </div>
</nav>
<div class="container-fluid">
    <div class="main">
        <div class="content">
            <div class="balcony">BALCONY : &#x20B9;150</div>
            <div class="grid-container row1">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                <div class="seat">A6</div>
                <div class="seat">A7</div>
                <div class="seat">A8</div>
                <div class="seat">A9</div>
                <div class="seat">A10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">A11</div>
                <div class="seat">A12</div>
                <div class="seat">A13</div>
                <div class="seat">A14</div>
                <div class="seat">A15</div>
                <div class="seat">A16</div>
                <div class="seat">A17</div>
                <div class="seat">A18</div>
                <div class="seat">A19</div>
                <div class="seat">A20</div>
            </div>
            <div class="grid-container row2">
                <div class="seat">B1</div>
                <div class="seat">B2</div>
                <div class="seat">B3</div>
                <div class="seat">B4</div>
                <div class="seat">B5</div>
                <div class="seat">B6</div>
                <div class="seat">B7</div>
                <div class="seat">B8</div>
                <div class="seat">B9</div>
                <div class="seat">B10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">B11</div>
                <div class="seat">B12</div>
                <div class="seat">B13</div>
                <div class="seat">B14</div>
                <div class="seat">B15</div>
                <div class="seat">B16</div>
                <div class="seat">B17</div>
                <div class="seat">B18</div>
                <div class="seat">B19</div>
                <div class="seat">B20</div>
            </div>
            <div class="grid-container row3">
                <div class="seat">C1</div>
                <div class="seat">C2</div>
                <div class="seat">C3</div>
                <div class="seat">C4</div>
                <div class="seat">C5</div>
                <div class="seat">C6</div>
                <div class="seat">C7</div>
                <div class="seat">C8</div>
                <div class="seat">C9</div>
                <div class="seat">C10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">C11</div>
                <div class="seat">C12</div>
                <div class="seat">C13</div>
                <div class="seat">C14</div>
                <div class="seat">C15</div>
                <div class="seat">C16</div>
                <div class="seat">C17</div>
                <div class="seat">C18</div>
                <div class="seat">C19</div>
                <div class="seat">C20</div>
            </div>
            <div class="grid-container row4">
                <div class="seat">D1</div>
                <div class="seat">D2</div>
                <div class="seat">D3</div>
                <div class="seat">D4</div>
                <div class="seat">D5</div>
                <div class="seat">D6</div>
                <div class="seat">D7</div>
                <div class="seat">D8</div>
                <div class="seat">D9</div>
                <div class="seat">D10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">D11</div>
                <div class="seat">D12</div>
                <div class="seat">D13</div>
                <div class="seat">D14</div>
                <div class="seat">D15</div>
                <div class="seat">D16</div>
                <div class="seat">D17</div>
                <div class="seat">D18</div>
                <div class="seat">D19</div>
                <div class="seat">D20</div>
            </div>
            <div class="grid-container16 row5">
                <div class="seat">E1</div>
                <div class="seat">E2</div>
                <div class="seat">E3</div>
                <div class="seat">E4</div>
                <div class="seat">E5</div>
                <div class="seat">E6</div>
                <div class="seat">E7</div>
                <div class="seat">E8</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">E9</div>
                <div class="seat">E10</div>
                <div class="seat">E11</div>
                <div class="seat">E12</div>
                <div class="seat">E13</div>
                <div class="seat">E14</div>
                <div class="seat">E15</div>
                <div class="seat">E16</div>
            </div>
            <div class="firstClass">FIRST CLASS : &#x20B9;120</div>
            <div class="grid-container row6">
                <div class="seat">F1</div>
                <div class="seat">F2</div>
                <div class="seat">F3</div>
                <div class="seat">F4</div>
                <div class="seat">F5</div>
                <div class="seat">F6</div>
                <div class="seat">F7</div>
                <div class="seat">F8</div>
                <div class="seat">F9</div>
                <div class="seat">F10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">F11</div>
                <div class="seat">F12</div>
                <div class="seat">F13</div>
                <div class="seat">F14</div>
                <div class="seat">F15</div>
                <div class="seat">F16</div>
                <div class="seat">F17</div>
                <div class="seat">F18</div>
                <div class="seat">F19</div>
                <div class="seat">F20</div>
            </div>
            <div class="grid-container row7">
                <div class="seat">G1</div>
                <div class="seat">G2</div>
                <div class="seat">G3</div>
                <div class="seat">G4</div>
                <div class="seat">G5</div>
                <div class="seat">G6</div>
                <div class="seat">G7</div>
                <div class="seat">G8</div>
                <div class="seat">G9</div>
                <div class="seat">G10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">G11</div>
                <div class="seat">G12</div>
                <div class="seat">G13</div>
                <div class="seat">G14</div>
                <div class="seat">G15</div>
                <div class="seat">G16</div>
                <div class="seat">G17</div>
                <div class="seat">G18</div>
                <div class="seat">G19</div>
                <div class="seat">G20</div>
            </div>
            <div class="grid-container row8">
                <div class="seat">H1</div>
                <div class="seat">H2</div>
                <div class="seat">H3</div>
                <div class="seat">H4</div>
                <div class="seat">H5</div>
                <div class="seat">H6</div>
                <div class="seat">H7</div>
                <div class="seat">H8</div>
                <div class="seat">H9</div>
                <div class="seat">H10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">H11</div>
                <div class="seat">H12</div>
                <div class="seat">H13</div>
                <div class="seat">H14</div>
                <div class="seat">H15</div>
                <div class="seat">H16</div>
                <div class="seat">H17</div>
                <div class="seat">H18</div>
                <div class="seat">H19</div>
                <div class="seat">H20</div>
            </div>
            <div class="grid-container row9">
                <div class="seat">I1</div>
                <div class="seat">I2</div>
                <div class="seat">I3</div>
                <div class="seat">I4</div>
                <div class="seat">I5</div>
                <div class="seat">I6</div>
                <div class="seat">I7</div>
                <div class="seat">I8</div>
                <div class="seat">I9</div>
                <div class="seat">I10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">I11</div>
                <div class="seat">I12</div>
                <div class="seat">I13</div>
                <div class="seat">I14</div>
                <div class="seat">I15</div>
                <div class="seat">I16</div>
                <div class="seat">I17</div>
                <div class="seat">I18</div>
                <div class="seat">I19</div>
                <div class="seat">I20</div>
            </div>
            <div class="grid-container row10">
                <div class="seat">J1</div>
                <div class="seat">J2</div>
                <div class="seat">J3</div>
                <div class="seat">J4</div>
                <div class="seat">J5</div>
                <div class="seat">J6</div>
                <div class="seat">J7</div>
                <div class="seat">J8</div>
                <div class="seat">J9</div>
                <div class="seat">J10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">J11</div>
                <div class="seat">J12</div>
                <div class="seat">J13</div>
                <div class="seat">J14</div>
                <div class="seat">J15</div>
                <div class="seat">J16</div>
                <div class="seat">J17</div>
                <div class="seat">J18</div>
                <div class="seat">J19</div>
                <div class="seat">J20</div>
            </div>
            <div class="grid-container row11">
                <div class="seat">K1</div>
                <div class="seat">K2</div>
                <div class="seat">K3</div>
                <div class="seat">K4</div>
                <div class="seat">K5</div>
                <div class="seat">K6</div>
                <div class="seat">K7</div>
                <div class="seat">K8</div>
                <div class="seat">K9</div>
                <div class="seat">K10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">K11</div>
                <div class="seat">K12</div>
                <div class="seat">K13</div>
                <div class="seat">K14</div>
                <div class="seat">K15</div>
                <div class="seat">K16</div>
                <div class="seat">K17</div>
                <div class="seat">K18</div>
                <div class="seat">K19</div>
                <div class="seat">K20</div>
            </div>
            <div class="gap">
                Space
            </div>
            <div class="grid-container row12">
                <div class="seat">L1</div>
                <div class="seat">L2</div>
                <div class="seat">L3</div>
                <div class="seat">L4</div>
                <div class="seat">L5</div>
                <div class="seat">L6</div>
                <div class="seat">L7</div>
                <div class="seat">L8</div>
                <div class="seat">L9</div>
                <div class="seat">L10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">L11</div>
                <div class="seat">L12</div>
                <div class="seat">L13</div>
                <div class="seat">L14</div>
                <div class="seat">L15</div>
                <div class="seat">L16</div>
                <div class="seat">L17</div>
                <div class="seat">L18</div>
                <div class="seat">L19</div>
                <div class="seat">L20</div>
            </div>
            <div class="grid-container row13">
                <div class="seat">M1</div>
                <div class="seat">M2</div>
                <div class="seat">M3</div>
                <div class="seat">M4</div>
                <div class="seat">M5</div>
                <div class="seat">M6</div>
                <div class="seat">M7</div>
                <div class="seat">M8</div>
                <div class="seat">M9</div>
                <div class="seat">M10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">M11</div>
                <div class="seat">M12</div>
                <div class="seat">M13</div>
                <div class="seat">M14</div>
                <div class="seat">M15</div>
                <div class="seat">M16</div>
                <div class="seat">M17</div>
                <div class="seat">M18</div>
                <div class="seat">M19</div>
                <div class="seat">M20</div>
            </div>
            <div class="grid-container row14">
                <div class="seat">N1</div>
                <div class="seat">N2</div>
                <div class="seat">N3</div>
                <div class="seat">N4</div>
                <div class="seat">N5</div>
                <div class="seat">N6</div>
                <div class="seat">N7</div>
                <div class="seat">N8</div>
                <div class="seat">N9</div>
                <div class="seat">N10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">N11</div>
                <div class="seat">N12</div>
                <div class="seat">N13</div>
                <div class="seat">N14</div>
                <div class="seat">N15</div>
                <div class="seat">N16</div>
                <div class="seat">N17</div>
                <div class="seat">N18</div>
                <div class="seat">N19</div>
                <div class="seat">N20</div>
            </div>
            <div class="grid-container row15">
                <div class="seat">O1</div>
                <div class="seat">O2</div>
                <div class="seat">O3</div>
                <div class="seat">O4</div>
                <div class="seat">O5</div>
                <div class="seat">O6</div>
                <div class="seat">O7</div>
                <div class="seat">O8</div>
                <div class="seat">O9</div>
                <div class="seat">O10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">O11</div>
                <div class="seat">O12</div>
                <div class="seat">O13</div>
                <div class="seat">O14</div>
                <div class="seat">O15</div>
                <div class="seat">O16</div>
                <div class="seat">O17</div>
                <div class="seat">O18</div>
                <div class="seat">O19</div>
                <div class="seat">O20</div>
            </div>
            <div class="grid-container row16">
                <div class="seat">P1</div>
                <div class="seat">P2</div>
                <div class="seat">P3</div>
                <div class="seat">P4</div>
                <div class="seat">P5</div>
                <div class="seat">P6</div>
                <div class="seat">P7</div>
                <div class="seat">P8</div>
                <div class="seat">P9</div>
                <div class="seat">P10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">P11</div>
                <div class="seat">P12</div>
                <div class="seat">P13</div>
                <div class="seat">P14</div>
                <div class="seat">P15</div>
                <div class="seat">P16</div>
                <div class="seat">P17</div>
                <div class="seat">P18</div>
                <div class="seat">P19</div>
                <div class="seat">P20</div>
            </div>
            <div class="secondClass">SECOND CLASS : &#x20B9;100</div>
            <div class="grid-container row17">
                <div class="seat">Q1</div>
                <div class="seat">Q2</div>
                <div class="seat">Q3</div>
                <div class="seat">Q4</div>
                <div class="seat">Q5</div>
                <div class="seat">Q6</div>
                <div class="seat">Q7</div>
                <div class="seat">Q8</div>
                <div class="seat">Q9</div>
                <div class="seat">Q10</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">Q11</div>
                <div class="seat">Q12</div>
                <div class="seat">Q13</div>
                <div class="seat">Q14</div>
                <div class="seat">Q15</div>
                <div class="seat">Q16</div>
                <div class="seat">Q17</div>
                <div class="seat">Q18</div>
                <div class="seat">Q19</div>
                <div class="seat">Q20</div>
            </div>
            <div class="grid-container16 row18">
                <div class="seat">R1</div>
                <div class="seat">R2</div>
                <div class="seat">R3</div>
                <div class="seat">R4</div>
                <div class="seat">R5</div>
                <div class="seat">R6</div>
                <div class="seat">R7</div>
                <div class="seat">R8</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">R9</div>
                <div class="seat">R10</div>
                <div class="seat">R11</div>
                <div class="seat">R12</div>
                <div class="seat">R13</div>
                <div class="seat">R14</div>
                <div class="seat">R15</div>
                <div class="seat">R16</div>
            </div>
            <div class="grid-container16 row19">
                <div class="seat">S1</div>
                <div class="seat">S2</div>
                <div class="seat">S3</div>
                <div class="seat">S4</div>
                <div class="seat">S5</div>
                <div class="seat">S6</div>
                <div class="seat">S7</div>
                <div class="seat">S8</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">S9</div>
                <div class="seat">S10</div>
                <div class="seat">S11</div>
                <div class="seat">S12</div>
                <div class="seat">S13</div>
                <div class="seat">S14</div>
                <div class="seat">S15</div>
                <div class="seat">S16</div>
            </div>
            <div class="grid-container14 row20">
                <div class="seat">T1</div>
                <div class="seat">T2</div>
                <div class="seat">T3</div>
                <div class="seat">T4</div>
                <div class="seat">T5</div>
                <div class="seat">T6</div>
                <div class="seat">T7</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">T8</div>
                <div class="seat">T9</div>
                <div class="seat">T10</div>
                <div class="seat">T11</div>
                <div class="seat">T12</div>
                <div class="seat">T13</div>
                <div class="seat">T14</div>
            </div>
            <div class="grid-container14 row21">
                <div class="seat">U1</div>
                <div class="seat">U2</div>
                <div class="seat">U3</div>
                <div class="seat">U4</div>
                <div class="seat">U5</div>
                <div class="seat">U6</div>
                <div class="seat">U7</div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="seat">U8</div>
                <div class="seat">U9</div>
                <div class="seat">U10</div>
                <div class="seat">U11</div>
                <div class="seat">U12</div>
                <div class="seat">U13</div>
                <div class="seat">U14</div>
            </div>
        </div>
    </div>
</div>
<div class="screen">
    <!-- <h2>THIS WAY SCREEN</h2> -->
    <div class="display">
        <img src="assets/images/SCREEN.png" alt="Screen">
        <div class="display-mssg">SCREEN THIS WAY</div>
    </div>
    <div class="seat-view">
        <div class="seat-view-icon1">#</div>
        <div class="seat-view-icon-name">AVAILABLE</div>
        <div class="seat-view-icon2">#</div>
        <div class="seat-view-icon-name">BOOKED</div>
        <div class="seat-view-icon3">#</div>
        <div class="seat-view-icon-name">SELECTED</div>
    </div>
</div>

