<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd; border-radius: 5px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight: 600;">MovieTicketBooking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLink="">Menu Item</a>
        </li> -->
      </ul>
      <span>
        <a class="nav-link active fw-semibold" routerLink="/login"><i class="fa-solid fa-user fa-lg pb-2" style="color: deepskyblue;"></i> Sign in</a>
      </span>
    </div>
  </div>
</nav>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner" style="border-radius: 5px;">
    <div class="carousel-item active">
      <a routerLink="/login"><img src="/assets/images/salaarHome.webp" class="d-block w-100" alt="Salaar" height="550px"></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/login"><img src="/assets/images/animalHome.webp" class="d-block w-100" alt="Animal" height="550px"></a>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pushpa2Home.jpg" class="d-block w-100" alt="Pushpa2" height="550px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/salaarHome.webp" class="d-block w-100" alt="Salaar" height="550px">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/ANIMAL.jpg" class="d-block w-100" alt="Animal">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/PUSHPA2.jpg" class="d-block w-100" alt="Pushpa2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
