/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none;
    color: black;
}
.grid-container{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
}
.grid-container16{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75.8%;
}
.grid-container14{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    width:67.6%;
}
.seat{
    border: 1.5px solid #0174c6;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
    padding: 5px 0 5px 0;
    color: #0174c6;
    font-size: small;
}
.seat:hover{
    cursor: pointer;
}

.balcony,.firstClass,.secondClass{
    text-align: center;
    font-weight: 700;
    font-size: medium;
    margin-bottom: 15px;
    margin-top: 10px;
}
.gap{
    opacity: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.screen{
    background-color: #e3f2fd;
    padding-top: 20px;
    padding-bottom: 5px;
    bottom: 0;
    text-align: center;
    margin-top: 70px;
    width: 100%;
}
.display{
    position: relative;
    text-align: center;
}
.display-mssg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    font-weight: 600;
    padding-bottom: 13px;
}
.seat-view{
    display: grid;
    grid-template-columns: 27px 100px 27px 100px 27px 100px;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    margin-top: 30px;
}
.seat-view-icon1{
    border: 1.5px solid #0174c6;
    border-radius: 5px;
    color: #e3f2fd;
    font-size: small;
}
.seat-view-icon2{
    border: 1.5px solid lightgray;
    border-radius: 5px;
    color: lightgray;
    background-color: lightgray;
    font-size: small;
}
.seat-view-icon3{
    border: 1.5px solid deepskyblue;
    border-radius: 5px;
    color: deepskyblue;
    background-color:deepskyblue;
    font-size: small;
}
.seat-view-icon-name{
    text-align: left;
    font-weight: 600;
    font-size: small;
    padding-left: 3px;
    padding-top: 1px;
}

/* button{
    border: none;
    background-color: white;
    color: #0174c6;
} */
.signin-content{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3f2fd;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: #bebebe 0px 3px 10px;
}
.ticket{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    
}
.ticket-details{
    background-color: #e3f2fd;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}
.ticket-title{
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.ticket-details-grid{
    display: grid;
    grid-template-columns: 49% 2% 49%;
}
.exp-cvv{
    display: grid;
    grid-template-columns: 49% 2% 49%;
}
.payment-card{
    padding: 10px;
}

.signin-content-in{
    padding:20px 20px 5px 20px;
}
#email,#password,#cpassword,#mobile,#firstname,#lastname,#validity,#cvv{
    width: 100%;
    margin-top: 3px;
}
#card-number,#card-owner-name{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.email,.password,.cpassword,.firstname,.lastname{
    margin: 5px 0 10px 0;
}
.forget-pwd{
    text-align: right;
    padding-top: 10px;
    font-size: small;
}
.signin-button,.signup-button{
    text-align: center;
    
}
.forgetpwd-btn{
    text-align: center;
    margin-bottom: 20px;
}
.signin-btn:hover{
    background-color: rgb(0, 180, 240);
}
.signup-btn:hover{
    background-color: rgb(0, 180, 240);
}
.forgetpwd-btn:hover{
    background-color: rgb(0, 180, 240);
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid deepskyblue;
    background-color: #e3f2fd;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 0.8px;
    background: #606060;
}
.signin-btn,.signup-btn,.forgetpwd-btn,.pay-btn{
    border: none;
    background-color: deepskyblue;
    margin-top: 20px;
    bottom: 20px;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}
.btn2{
    width: 100%;
    color: black;
}
.signup,.login{
    text-align: center;
}
.footer{
    background-color: #e3f2fd;
    text-align: center;
    font-size:small;
    font-weight: 610;
}
.footer-forgetPwd{
    background-color: #e3f2fd;
    text-align: center;
    font-size:small;
    font-weight: 610;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.seating-navbar{
    display: grid;
    grid-template-columns:  3% 67% 20% 10%;
    width: 100%;
}
.back{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.book-btn{
    width: 100%;
    border: none;
    background-color: deepskyblue;
    height: 100%;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
}
button{
    background-color: white;
}
/* .booked{
    background-color: lightgray;
    pointer-events: none;
} */