<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight: 600;">MovieTicketBooking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/movies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/ticket1">Bookings</a>
        </li>
      </ul>
      <a routerLink="/login" class="logout fw-semibold"><i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180 me-1"></i>Logout</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <div class="main pt-3">
        <div class="content">
            <div class="row row-cols-sm-2 row-cols-md-4 row-cols-lg-5">
                <div class="col">
                    <a routerLink="/seating1" style="text-decoration: none;"> 
                        <div class="card" style="width: 100%">
                            <img src="assets/images/SALAAR.jpg" class="card-img-top" alt="Salaar" height="270px">
                            <div class="card-body">
                              <h5 class="card-title">Salaar</h5>
                              <p class="card-text">Action/Drama</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a>    
                </div>
                <div class="col">
                    <a routerLink="/seating2" style="text-decoration: none;"> 
                        <div class="card" style="width: 100%">
                            <img src="assets/images/ANIMAL.jpg" class="card-img-top" alt="Animal" height="270px">
                            <div class="card-body">
                              <h5 class="card-title">Animal</h5>
                              <p class="card-text">Action/Drama</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a> 
                </div>
                <div class="col">
                    <a href="" style="text-decoration: none;"> 
                        <div class="card" style="width: 100%">
                            <img src="assets/images/DUNKI.jpg" class="card-img-top" alt="Dunki" height="270px">
                            <div class="card-body">
                              <h5 class="card-title">Dunki</h5>
                              <p class="card-text">Comedy/Drama</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a> 
                </div>
                <div class="col">
                    <a href="" style="text-decoration: none;"> 
                        <div class="card" style="width: 100%">
                            <img src="assets/images/PUSHPA2.jpg" class="card-img-top" alt="Pushpa2" height="270px">
                            <div class="card-body">
                              <h5 class="card-title">Pushpa:The Rule</h5>
                              <p class="card-text">Crime/Drama</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a> 
                </div>
                <div class="col">
                    <a href="" style="text-decoration: none;"> 
                        <div class="card" style="width: 100%">
                            <img src="assets/images/TIGER3.jpg" class="card-img-top" alt="Tiger3" height="270px">
                            <div class="card-body">
                              <h5 class="card-title">Tiger:3</h5>
                              <p class="card-text">Action/Adventure</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</div>