<!-- <!-- <div class="seating-navbar" style="background-color: #e3f2fd;">
    <div class="back">
        <a routerLink="/movies"><i class="fa-solid fa-arrow-left  fa-lg"></i></a>
    </div>
    <div class="movie-title">
        <h4 class="ms-2 mt-2">Animal</h4>
    </div>
    <div class="cost-seat">
        <div class="seat-count">
            <span>Seats: <span class="fw-semibold">{{userdetails.count}}</span></span>
        </div>
        <div class="cost">
            <span>Price: <span class="fw-semibold">&#x20B9;{{userdetails.totalprice}}</span></span>
        </div>
    </div>
    <button class="book-btn" (click)="bookTicket()">Book</button>
</div> -->
<!-- <div class="container-fluid">
    <div class="main">
        <div class="content">
            <!-- <div class="balcony">BALCONY : &#x20B9;150</div> -->
            <!-- <button class="color" (click)="toggle($event,clicked1)">A1</button>
            <button class="color" onclick="toggle($event,licked1)">A2</button>
            <button class="color" onclick="toggle($event,isClicked)">A3</button>
            <button class="color" onclick="toggle($event,isClicked)">A4</button> -->
        <!-- </div>
    </div>
</div> -->  -->
