<<div class="seating-navbar" style="background-color: #e3f2fd;">
    <div class="back">
        <a routerLink="/movies"><i class="fa-solid fa-arrow-left  fa-lg"></i></a>
    </div>
    <div class="movie-title">
        <h4 class="ms-2 mt-2">Salaar</h4>
    </div>
    <div class="cost-seat">
        <div class="seat-count">
            <span>Seats: <span class="fw-semibold">{{userdetails.count}}</span></span>
        </div>
        <div class="cost">
            <span>Price: <span class="fw-semibold">&#x20B9;{{userdetails.totalprice}}</span></span>
        </div>
    </div>
    <button class="book-btn" (click)="bookTicket()">Book</button>
</div>
<div class="container-fluid">
    <div class="main">
        <div class="content">
            <div [style.background-color]="selectedA1? 'deepskyblue':'white'"
                    (click)="selectedA1=select(selectedA1,$event);" class="seat" id="A1">A1</div>
            <div [style.background-color]="selectedA2? 'deepskyblue':'white'"
                    (click)="selectedA2=select(selectedA2,$event);" class="seat" id="A2">A2</div>            
            <div [style.background-color]="selectedA3? 'deepskyblue':'white'"
                    (click)="selectedA3=select(selectedA3,$event);" class="seat" id="A3">A3</div>        
        </div>
    </div>
</div>
